<h1>Buttons</h1>

<mat-card>
 <button mat-button>Basic</button>
 <button mat-raised-button color="primary" matBadge="14" matBadgeOverlap=false>Action</button>
 <button mat-icon-button><mat-icon>favorite</mat-icon></button>
 <button mat-fab>XXX</button>
 <button mat-mini-fab>mFab</button>

</mat-card>

<mat-icon matBadge="10">
 notifications
</mat-icon>

<p>
 <span matBadge="10">Badge Text</span>
</p>
<hr/>

<!--
<span matBadge="4" matBadgeOverlap=false>Text Badge</span>
<p></p>
<button mat-raised-button color="primary"
       matBadge="8"  matBadgeColor="accent" matBadgeOverlap=false>
   Action
</button>
<p></p>
<mat-icon matBadge="10" matBadgeOverlap=false>notifications</mat-icon>
<hr/>
<mat-icon matBadge="10" matBadgePosition="above after">
 notifications
</mat-icon>
<mat-icon matBadge="10" matBadgePosition="above before">
 notifications
</mat-icon>
<mat-icon matBadge="10" matBadgePosition="below after">
 notifications
</mat-icon>
<mat-icon matBadge="10" matBadgePosition="below before">
 notifications
</mat-icon>
<p></p>
<hr/>
-->


